body{
       
     margin-left:40px;
    margin-right:20px;}
#index{
  background: linear-gradient(to right,black,rgb(71, 68, 68));
    margin-top:-10px;
    width:auto;
     /* margin-left:40px;
    margin-right:20px; */
    background-size:cover;
    height:100vh;
}
.nav{
    position:fixed;
    /* top:10px; */
    display:flex;
    height: 10%;
    width:90%;
    justify-content: space-between;
    align-items: center;
}
.nav h1{
text-shadow:3px 3px 5px white;
}
.sub{
    height:10%;
    /* background-color:red; */
    justify-content: space-between;
    width:40%;
    display:flex;
    color:rgb(182, 167, 167);
}

.main{
  
    height:80vh;
    width:90%;
   margin-left:100px;
    
}
.intro{
     padding-top:200px;
   margin-left:20px;
    word-spacing: 5px;
    letter-spacing: 3px;
    
}
h2{
  background: linear-gradient(to right,grey,rgb(53, 50, 50));
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
    /* color:#333; */
    font-weight:700;
    position:absolute;
    top:70px;
    left:30%;

}
.intro span{
    font-size:20px;
    color:rgb(247, 243, 13);
}
.intro p{
text-shadow:2px 1px 2px rgb(79, 79, 85);
text-indent:100px;
margin-top:20px;
max-width:50%;
box-sizing:border-box;
text-align:justify;
line-height:20px;
color:white;
}

.btn{
    /* height:70px;
    width:40%; */
    font-size:medium;
    color:white;
    text-decoration:none;
    background:black;
    height:40px;
    width:20%;
    border:2px solid black;
    position:absolute;
    bottom:25%;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, red, orange, yellow, green, red) 1;
}

.btn:hover{
border:2px solid black;
position:relative;
top:3px;
background:linear-gradient(to bottom right,red,blue);
}
.image{
position:absolute;
top:30%;
left:65%;
height:285px;
width:205px;
box-shadow:5px 5px 15px rgb(150, 219, 199);;

}


/* ------------------------------------------------------------------- */

.nav2 h1{
text-shadow:3px 3px 5px white;
}
.sub{
    height:10%;
 justify-content: space-between;
    width:40%;
    display:flex;
    color:rgb(182, 167, 167);
}

.main2{
    padding-top:70px;
   
    height:70vh;
    width:80%;
    position:relative;
    
    margin-left:50px;
    margin-right:40px;
    color:white;
    text-align:center;

}

#skills {
  background: linear-gradient(to right,black,rgb(71, 68, 68));

  padding: 40px 0px;
  /* scroll-padding-top: 10px; added scroll offset for anchor navigation */
  background-size:cover;
    height:110vh;
}

.main2 {
    transform:translate(0px,100px);
  max-width: 1000px;
  margin: 0 auto;
}
.text2{
    line-height:30px;
    
}
.text2 p{
    font-size:18px;
    letter-spacing: 2px;
    word-spacing: 4px;
    font-size: 1.1rem;
    color:white;
    line-height: 20px;
    max-width: 700px;
    margin: 0 auto;
    transform:translate(00px,-50px);
}
.text2 h2 {
  transform:translate(80px,-150px);
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: rgb(88, 87, 87);
}
.logo {
transform:translate(-50px,00px);
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  gap: 30px;
}

.logo > div {
  flex: 1 1 120px; /* flexible basis with a minimum size */
  max-width: 150px;
  text-align: center;
}

.logo img {
  height: 100px;
  width: auto; /* keep aspect ratio */
  display: block;
   margin: 0;
  font-size: 1rem;
}
    .logo{
    margin-left:200px;
   
    position:relative;
    top:-30px;
    width:70%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200 200;
    color:black;
    gap:30px 30px;
    text-align:center;
   
}
    
.css{
    height:100%;
    width:100%;
    background-color:lightblue;
    position:relative;
    box-shadow:2px 2px 15px 5px black;
    display:flex;
    flex-direction: column;
    align-items:center;
   

}
.css:hover{
    box-shadow:2px 2px 15px 5px blueviolet;
}

.html{
    height:100%;
    width:100%;
    background-color:lightblue;
    position:relative;
    box-shadow:2px 2px 15px 5px black;
     display:flex;
    flex-direction: column;
    align-items:center;

}
.html:hover{
    box-shadow:2px 2px 15px 5px red;
}

.boot{
    height:100%;
    width:100%;
    background-color:lightblue;
    position:relative;
    box-shadow:2px 2px 15px 5px black;
     display:flex;
    flex-direction: column;
    align-items:center;

}
.boot:hover{
    box-shadow:2px 2px 15px 5px blueviolet;
}


.python{
    height:100%;
    width:100%;
    background-color:lightblue;
    position:relative;
    box-shadow:2px 2px 15px 5px black;
     display:flex;
    flex-direction: column;
    align-items:center;

}
.python:hover{
    box-shadow:2px 2px 15px 5px red;
}

.django{
    height:100%;
    width:100%;
    background-color:lightblue;
    position:relative;
    box-shadow:2px 2px 15px 5px black;
     display:flex;
    flex-direction: column;
    align-items:center;

}
.django:hover{
    box-shadow:2px 2px 15px 5px red;
}

.flask{
    height:100%;
    width:100%;
    background-color:lightblue;
    position:relative;
    box-shadow:2px 2px 15px 5px black;
     display:flex;
    flex-direction: column;
    align-items:center;

}
.flask:hover{
    box-shadow:2px 2px 15px 5px blueviolet;
}

.js{
    height:100%;
    width:100%;
    background-color:lightblue;
    position:relative;
    box-shadow:2px 2px 15px 5px black;
     display:flex;
    flex-direction: column;
    align-items:center;

}
.js:hover{
    box-shadow:2px 2px 15px 5px  red;
}


.react{
    height:100%;
    width:100%;
    background-color:lightblue;
    position:relative;
    box-shadow:2px 2px 15px 5px black;
     display:flex;
    flex-direction: column;
    align-items:center;

}
.react:hover{
    box-shadow:2px 2px 15px 5px blueviolet;
} 

/* --------------------------------------------------------------- */
#project{
  background: linear-gradient(to right,black,rgb(71, 68, 68));
   
   background-size:cover;
   height:110vh;
   scroll-margin-top: 40px;

}
.sub{
    height:10%;
    /* background-color:red; */
    justify-content: space-between;
    width:40%;
    display:flex;
    color:rgb(182, 167, 167);
}
.grid{
    /* padding-top:40px; */
    position:relative;
    left:80px;
    top:50px;
    margin-top:0px;
    margin-left:40px;
    height:90vh;
    width:90%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:50% 50% 50%;
    gap:60px 25px;
   
}
/* 
.grid1{
    line-height:10px;
    margin:0px;
    height:40vh;
    width:80%;
    /* background-color:yellow; */
    /* background-color:rgba(252, 218, 218, 0.575);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;

}
.grid1:hover{
    box-shadow:2px 2px 15px 5px red;
}
.grid1 img{
    height:18%;
}

.title1 h3{
    margin:8px;
    /* padding:0px; 
} */
.grid2{
    /* line-height:10px; */
    margin:0px;
    height:45vh;
    width:80%;
    /* background-color:yellow; */
    background-color:rgb(179, 167, 167);

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    border-radius:10px;


}
.grid2 img{
    margin-top:30px;
    height:18%;
    border-radius:10px;
    width:88%;

}

.grid2:hover{
    box-shadow:2px 2px 15px 5px blueviolet;
}

.discription2{
    transform:translate(0px,-10px);
    line-height: 20px;
    text-align:justify;
    margin-left:15px;
    margin-right:15px;
}
.link{
    transform:translate(0px,-5px);
}
/* .grid3{
    line-height:10px;
    margin:0px;
    height:40vh;
    width:80%;
    /* background-color:yellow; */
    /* background-color:rgba(252, 218, 218, 0.575);


    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;

}
.grid3 img{
    height:18%;
}

.grid3:hover{
    box-shadow:2px 2px 15px 5px red;
}  */

.grid4{
    line-height:10px;
    margin:0px;
    height:45vh;
    width:80%;
    background-color:rgb(179, 167, 167);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    border-radius:10px;


}
.grid4 img{
    height:18%;
    border-radius:10px;
    width:88%;
}
.discription4{
    line-height:20px;
    margin-left:15px;
    margin-right:15px;
    text-align:justify;

}
.grid4:hover{
    box-shadow:2px 2px 15px 5px red;
}
.grid5{
      line-height:10px;
    margin:0px;
    height:45vh;
    width:80%;
    /* background-color:yellow; */
    background-color:rgb(179, 167, 167);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    border-radius:10px;


}
.grid5 img{
    margin-top:20px;
    height:18%;
    border-radius:10px;
    width:88%;
}
.discription5{
    line-height:20px;
    margin-left:15px;
    margin-right:15px;
    text-align:justify;
}
.grid5:hover{
    box-shadow:2px 2px 15px 5px blueviolet;
}
.grid6{
    line-height:10px;
    margin:0px;
    height:45vh;
    width:80%;
    /* background-color:yellow; */
    background-color:rgb(179, 167, 167);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    border-radius:10px;


}
.grid6 img{
    margin-top:20px;
    height:18%;
    border-radius:10px;
    width:88%;
}
.grid .title6{
    line-height:20px;
}
.discription6{
    line-height:20px;
    margin-left:15px;
    margin-right:15px;
    text-align:justify;

}
.grid6:hover{
    box-shadow:2px 2px 15px 5px red;

}

.grid7{
      line-height:10px;
    margin:0px;
    height:45vh;
    width:80%;
    /* background-color:yellow; */
    background-color:rgb(179, 167, 167);

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    border-radius:10px;


}
.grid7 img{
    margin-top:20px;
    height:18%;
    border-radius:10px;
    width:88%;
}
.discription7{
    line-height:20px;
    margin-left:15px;
    margin-right:15px;
    text-align:justify;

}
.grid7:hover{
    box-shadow:2px 2px 15px 5px blueviolet;

}

/* .grid8{
    line-height:10px;
    margin:0px;
    height:40vh;
    width:80%;
    /* background-color:yellow; */
    /* background-color:rgba(240, 221, 221, 0.575);

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;

}
.grid8 img{
    margin-top:20px;
    height:25vh;
}

.grid8:hover{
    box-shadow:2px 2px 15px 5px blueviolet;
} */

.grid9{
    line-height:10px;
    margin:0px;
    height:45vh;
    width:80%;
    /* background-color:yellow; */
    background-color:rgb(179, 167, 167);
    
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    border-radius:10px;


}
.grid9 img{
    /* margin-top:4px; */
    height:21%;
    border-radius:10px;
    width:88%;
}
.discription9{
    line-height:20px;
    margin-left:15px;
    margin-right:15px;
    text-align:justify;

}

.grid9:hover{
    box-shadow:2px 2px 15px 5px red;
}

/* ---------------------------------------------------------------- */


#contactme{
  background: linear-gradient(to right,black,rgb(71, 68, 68));
 
   background-size:cover;
   height:100vh;
   border:none;
   padding-top:10%;
  
}
.nav4{
transform:translate(0px,-20px);
display:flex;
height: 2%;
justify-content: space-between;
align-items: center;
}
.nav4 h1{
text-shadow:3px 3px 5px white;
}
.sub{
    height:10%;
    
    justify-content: space-between;
    width:40%;
    display:flex;
    color:rgb(182, 167, 167);
}


.main4{

  margin-left:20%;
  height:70vh;
  width:60%;
  display:flex;
  justify-content:space-evenly;
  border:2px solid white;
  color:white;
 background-color:rgb(66, 66, 66);
}
.text4{
  margin-top:80px;
  box-sizing:content-box;
  width:40%;
  color:white;
  line-height:20px;
  word-spacing: 3px;
  letter-spacing: 2px;
  text-align: center;
 
}
.name,.email,.message{
height:30px;
width:300px;
border-radius:10px;
margin-bottom:30px;
}
.form{
  width:50%;
   color:white;
   margin-top:50px;
   margin-left:40px;
   /* text-align:center; */
 
}

.button {
  width:200px;
  height:30px;
  background-color:rgb(49, 48, 48);
  color:white;
  box-shadow:2px 4px 18px rgb(91, 91, 252);
}
.button:hover{
  box-shadow:2px 4px 18px blueviolet;
}