<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
</head>
<body>
  
    <section id="index">
    <header>
    <div class="nav">
        <h1>know me</h1>
        <div class="sub">
            <div class="s1"><a href='/' style="text-decoration:none;color:rgb(182, 167, 167)">About me</a></div>
            <div class="s2"><a href='/#skills' style="text-decoration:none;color:rgb(182, 167, 167)">Skills</a></div>
            <div class="s3"><a href='#project' style="text-decoration:none;color:rgb(182, 167, 167);">Projects</a></div>
            <div class="s4"><a href='/#contactme' style="text-decoration:none;color:rgb(182, 167, 167)">Contact Me</a></div>
        </div>
    </div>
    </header>
     
     <div class="main"></div>
   <h2>PYTHON FULLLSTACK WEB DEVELOPER</h2>
      
     <div class="intro">
    <p>Hi....Iam <span>Safeela Nasrin</span>
        a passionate Full-Stack Developer with expertise in creating dynamic, user-friendly web applications. With a strong foundation in both front-end and back-end technologies,
        I specialize in building scalable, high-performance websites and solutions. I love transforming ideas into interactive and functional digital experiences, blending creativity
         with technical precision.</p>

        <a href="{{ url_for('download_file', filename='safeelanasrin_cv.pdf') }}"
           style="text-decoration:none;color:white;"><button class="btn">Download CV </button></a>

        </div>
        <div class="image">
            <img src="./static/images/me.jpeg" height="280px" width="200px" >
        </div>
      

        </section>

        <!-- --------------------------------------------------------------------------- -->

        <section id="skills">
          
    <div class="main2">
        <div class="text2">
        <h2> What I Do </h2>
        <p>I build modern, scalable, and user-friendly web applications from front to back. As a full-stack web developer, I specialize in crafting clean, responsive interfaces and robust back-end systems. Whether it's building an eCommerce store, a custom dashboard, or integrating third-party APIs, I focus on delivering high-performance, secure, and maintainable solutions.</p>
        </div>
        <div class="logo">
       <div class="css"><img src="{{url_for('static',filename='images/css_logo.png')}}" height="100px" width="40%"><p>CSS</p></div> 
        <div class="html"><img src="{{url_for('static',filename='images/html_image.png')}}" height="100px" width="40%"><p>HTML</p></div>
        <div class="boot"><img src="{{url_for('static',filename='images/bootstrap_logo.png')}}" height="100px" width="40%"><p>Bootstrap</p></div>
        <div class="python"><img src="{{url_for('static',filename='images/python_logo.png')}}" height="100px" width="40%"><p>Python</p></div>
        <div class="django"><img src="{{url_for('static',filename='images/django_logo.png')}}" height="100px" width="40%"><p>Django</p></div>
        <div class="flask"><img src="{{url_for('static',filename='images/flask_logo.png')}}" height="100px" width="40%"><p>Flask</p></div>
        <div class="js"><img src="{{url_for('static',filename='images/javascript_logo.png')}}" height="100px" width="40%"><p>JavaScript</p></div>
        <div class="react"><img src="{{url_for('static',filename='images/react_logo.png')}}" height="100px" width="40%"><p>React</p></div>
        </div>

    </div>

        </section>

        <!-- ------------------------------------------------------------------- -->

         <section id="project">
                  
        <div class="grid">
          <div class="grid1">
            <div class="outer1">
              <div class="image1"><img src="{{url_for('static',filename='images/odin_project.png')}}" alt="" height="450px" width="300px"></div>
              <div class="title1"><h3>Odin remake</h3></div>
              <div class="discription1"><p>odin website remaked using css</p><br>
              <a href="">hithub</a></div>
            </div>
          </div>

          <div class="grid2">
            <div class="outer2">
              <div class="image2"><img src="{{url_for('static',filename='images/todo.png')}}" alt="" height="450px" width="300px"></div>
              <div class="title2"><h3>Todo </h3></div>
              <div class="discription2"><p>using django which can do Create,Update and delete</p><br>
              <a href="">Github</a></div>
            </div>
          </div>

               <div class="grid3">
            <div class="outer3">
              <div class="image3"><img src="{{url_for('static',filename='images/weather.png')}}" alt="" height="450px" width="300px"></div>
              <div class="title3"><h3>Weather </h3></div>
              <div class="discription3"><p>weather determination using API</p><br>
              <a href="">Github</a></div>
            </div>
            </div>

                <div class="grid4">
            <div class="outer4">
              <div class="image4"><img src="{{url_for('static',filename='images/react_axios.png')}}" alt="" height="450px" width="300px"></div>
              <div class="title4"><h3>fetch api </h3></div>
              <div class="discription4"><p>fetching API using react and CRUD operations undergoing</p><br>
              <a href="">Github</a></div>
            </div>
          </div>

            <div class="grid5">
            <div class="outer5">
              <div class="image5"><img src="{{url_for('static',filename='images/javascript_fetch.png')}}" alt="" height="450px" width="300px"></div>
              <div class="title5"><h3>fetching using  dummyjson</h3></div>
              <div class="discription5"><p>fetching dummyjson using javascript and did css</p><br>
              <a href="">Github</a></div>
            </div>
          </div>

          <div class="grid6">
            <div class="outer6">
              <div class="image6"><img src="{{url_for('static',filename='images/driving_school.png')}}" alt="" height="450px" width="300px"></div>
              <div class="title6"><h3>driving school admission and management</h3></div>
              <div class="discription6"><p>it is a project using djago</p><br>
              <a href="">Github</a></div>
            </div>
          </div>

          <div class="grid7">
            <div class="outer7">
              <div class="image7"><img src="{{url_for('static',filename='images/image_vault.png')}}" alt="" height="450px" width="300px"></div>
              <div class="title7"><h3>Image vault</h3></div>
              <div class="discription7"><p>it is a imagelocker site using djago</p><br>
              <a href="">Github</a></div>
            </div>
          </div>

            <div class="grid8">
            <div class="outer8">
              <div class="image8"><img src="{{url_for('static',filename='images/todo_django.png')}}" alt="" height="200px" width="300px"></div>
              <div class="title8"><h3>todo </h3></div>
              <div class="discription8"><p> using djago</p><br>
              <a href="">Github</a></div>
            </div>
          </div>

           <div class="grid9">
            <div class="outer9">
              <div class="image9"><img src="{{url_for('static',filename='images/ecommerce.png')}}" alt="" height="200px" width="300px"></div>
              <div class="title9"><h3>book sale site</h3></div>
              <div class="discription9"><p>ecommerce site using django</p></div>
              <div class="link"><a href="">Github</a></div>
            </div>
          </div>


          </div>
         

         </section>

        <!-- -------------------------------------------------------------------- -->

  <section id="contactme">
    
  <div class="main4">
    <div class="text4">
  <h1>Contact Me</h1>
  <p>Your next big idea deserves a developer who thinks outside the box. Let's connect and make it happen! Why settle for ordinary when you can have extraordinary? Let's craft something exceptional together!</p>
    </div>

  {% with messages =get_flashed_messages(with_categories=true)%}
    {% if messages %}
      {% for category, message in messages %}
      <p style="color: {% if category =='error' %}red{% else %}green{% endif %};">{{message}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
<div class="form">
  <form action="/send_message" method="POST">

   <label>Name:</label><br>
        <input type="text" name="name" class="name"required><br>

        <label>Email:</label><br>
        <input type="email" name="email"  class="email" required><br>

        <label>Message:</label><br>
        <textarea name="message"  class="message" required></textarea><br>

        <button type="submit" class="button">connect me</button>
    </form>
    </div>
    
    

</div>
</section>

</body>
</html>